<footer class="page-footer-fluid fixed font-small bluedark">
  <div class="container mx-auto pt-3 pb-3">
    <div class="row text-center text-light text-md-left d-md-flex">
      <div class="col-md-4 col-sm-xs-12 mb-2 mt-2">
        <h6 class="page-title">Hubungi Kami</h6>
        <p>SMA NEGERI 1 PIYUNGAN BANTUL</p>
        <dl class="row">
          <dt class="col-lg-3 col-md-4 col-sm-12"><span class="fa fa-map-marker"></span> <span class=" d-sm-inline d-md-none">Alamat</span></dt>
          <dd class="col-lg-9 col-md-8 col-sm-12">Karanggayam, Sitimulyo, Piyungan, Bantul, DIY 55792</dd>
          <dt class="col-lg-3 col-md-4 col-sm-12"><span class="fa fa-phone"></span><span class=" d-sm-inline d-md-none">Telepon</span></dt>
          <dd class="col-lg-9 col-md-8 col-sm-12"> (0274) 7481008 </dd>
          <dt class="col-lg-3 col-md-4 col-sm-12"><span class="fa fa-envelope"></span><span class=" d-sm-inline d-md-none">Email</span></dt>
          <dd class="col-lg-9 col-md-8 col-sm-12">smanegeri1.piyungan@gmail.com</dd>
        </dl>
      </div>

<div class="col-md-4 col-xs-12 mb-2 mt-2">
<h6 class="page-title">Tags</h6>
<div class="tag-content-block tag">
<a href="https://smkn2depoksleman.sch.id/tag/lowongan">Alumni</a>
<a href="https://smkn2depoksleman.sch.id/tag/lowongan">Pengumuman</a>
<a href="https://smkn2depoksleman.sch.id/tag/pengumuman">Akademik</a>
<a href="https://smkn2depoksleman.sch.id/tag/ppdb">PPDB</a>
<a href="https://smkn2depoksleman.sch.id/tag/berita">Berita</a>
<a href="https://smkn2depoksleman.sch.id/tag/sekilas-info">Galeri</a>
</div>
</div>

      <div class="col-md-4 col-sm-xs-12 mb-2 mt-2">
        <h6 class="page-title">Ikuti Kami</h6>
        <ul class="list-unstyled">
          <li class="float-left">
            <a href="#" title="Facebook"><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></a>
          </li>
          <li class="float-left">
            <a href="#" title="Instagram"><i class="fa fa-instagram social-icon instagram" aria-hidden="true"></i></a>
          </li>
          <li class="float-left">
            <a href="#" title="Youtube"><i class="fa fa-youtube social-icon youtube" aria-hidden="true"></i></a>
          </li>
          <li class="float-left">
            <a href="#" title="Twitter"><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center text-light py-3">© 2019 <span class="d-none d-md-inline"> Copyright : </span>
    <a href="#" class="font-weight-bold text-light">Kelompok 3</a>
  </div>

</footer>
