<div class="container-fluid top-bar bluedark ">
	<div class="container">
		<div class="row align-items-center p-0">
			<div class="col-lg-8 col-sm-12 col-xs-12">
				<div class="top-header d-md-flex">
					<div class="col-md-2 col-sm-12 col-xs-12 text-center ">
						<a href="./index.html">
							<img id="logo" src="assets/img/logo-sekolah.png">
						</a>
					</div>
					<div class="col-md-10 col-sm-12 col-xs-12">
						<ul class="list-unstyled top-left text-center text-md-left">
							<li><h6 class="font-weight-bold brand">SMA NEGERI 1 PIYUNGAN BANTUL</h6></li>
							<li><small>Karanggayam, Sitimulyo, Piyungan, Bantul, DIY 55792</small></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 d-none d-lg-md-block d-lg-block">
				<ul class="list-unstyled top-right ">
					<li>
						<span href="#" class="fa fa-envelope"></span> smanegeri1.piyungan@gmail.com
					</li>
					<li>
						<span href="#" class="fa fa-phone"></span> (0274) 7481008
					</li>
					<li>
						<span href="#" class="fa fa-facebook"></span> SMA N 1 Piyungan
					</li>
					
				</ul>
			</div>
		</div>
	</div>
</div>